* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

html {
    color: #4A4A4A;
    font-family: sans-serif;
}

body {
}

/*Nav bar styling*/

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

header .content {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 16px 24px;
    height: 64px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
    padding: 0;
    margin: 0;
    font-size: 22px;
}

nav a {
    text-decoration: none;
    color: #4A4A4A;
}

nav {
    margin-left: auto;
}

.logo {
    height: 62px;
}

h1 {
    text-transform: uppercase;
}



/*Fist section*/

.container {
    display: flex;
    background-color: #D8D8D8;
    height: 880px;
    width: 100%;
    padding-top: 96px;
}

.colmarlogo {
    height: 32px;
    width: auto;
}

.img {
    padding: 32px 24px;
}
