* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}
body{
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}



.page{
    max-width: 1100px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
}

.brand{
    display:flex;
    align-items: center;
}

.logo-img {
    height: 32px;
}

.logo-text {
    font-size: 24px;
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

.name {
    font-size: 22px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 12px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #4A4A4A;
}


.first-section {
    display: flex;
    width: 100%;
    padding: 32px;
    background: #d9d9d9;
}

.first-section-image {
    width: 60%;
    padding-right: 32px;
}

.first-section-image img {
    width: 100%;
    height: auto;
    display: block;
}

.first-section-text {
    width: 40%;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-section-text h1 {
    margin: 0 0 24px;
    font-size: 42px;
    font-weight: 700;
    color: #4a4a4a;
}

.first-section-text p {
    margin: 0 0 24px;
    font-size: 20px;
    color: #555;
}

.start-here-button {
    background: #4a4a4a;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    width: fit-content;
    border-radius: 2px;
    font-size: 16px;
}


.second-section {
    display: flex;
    padding: 32px;
    gap: 32px;
    background: white;
}

.second-section-image{
    width: 60%;
}

.image img {
    width: 100%;
    display: block;
 }

.cards {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    background: white;
    border: 1px solid #ddd;
    padding: 16px;
    gap: 16px;
    align-items: center;
}

.card img {
    width: 35%;
    height: auto;
}

.card-text {
    width: 65%;
}

.card-text h3 {
    margin: 0 0 8px;
    font-size: 20px;
    color: #444;
}

.card-text p {
    margin: 0 0 8px;
    color: #555;
    line-height: 1.4;
}

.card-text a {
    color: #3a83f7;
    font-weight: bold;
    text-decoration: none;
}



.quote {
    background: #f2f2f2;
    padding: 32px;
}

.quote h2 {
    margin: 0 0 24px;
    font-size: 36px;
    font-weight: 700;
    color: #444;
}

.quote-body {
    margin: 0 0 24px;
    color: #555;
    font-size: 18px;
    max-width: 800px;
}

.quote-author {
    color: #777;
    font-size: 16px;
    margin-top: 32px;
}