* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}
body{
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}



/*Top Logo and Navbar*/

.page {
    max-width: 1100px;
    margin: 0 auto;
    border: 2px solid #9B9B9B;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.brand{
    display:flex;
    align-items: center;
}

.logo-img {
    height: 32px;
}

.logo-text {
    font-size: 24px;
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

.name {
    font-size: 22px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 12px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #4A4A4A;
}



/*First Section*/

.first-section {
    display: flex;
    width: 100%;
    padding: 32px;
    background: rgb(217, 217, 217);
}

.first-section-image {
    width: 60%;
    padding-right: 32px;
}

.first-section-image img {
    width: 100%;
    height: auto;
    display: block;
}

.first-section-text {
    width: 40%;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-section-text h1 {
    margin: 0 0 24px;
    font-size: 42px;
    font-weight: 700;
    color: #4a4a4a;
}

.first-section-text p {
    margin: 0 0 24px;
    font-size: 20px;
    color: 85, 85, 85;
}

.start-here-button {
    background: #4a4a4a;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    width: fit-content;
    border-radius: 2px;
    font-size: 16px;
}



/*Second Section*/

.second-section {
    display: flex;
    padding: 32px;
    gap: 32px;
    background: white;
}

.second-section-image{
    width: 60%;
    height: auto;
}

.image img {
    width: 100%;
    display: block;
 }

.second-section .cards {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.second-section .card {
    display: flex;
    background: white;
    border: 1px solid #ddd;
    padding: 16px;
    gap: 16px;
    align-items: center;
}

.second-section .cardalt {
    display: flex;
    background-color: #d9d9d9;
    border: 1px solid #ddd;
    padding: 16px;
    gap: 16px;
    align-items: center;
}

.card img {
    width: 35%;
    height: auto;
}

.cardalt img {
    width: 35%;
    height: auto;
}

.card-text {
    width: 65%;
}

.card-text h3 {
    margin: 0 0 8px;
    font-size: 20px;
    color: #444;
}

.card-text p {
    margin: 0 0 8px;
    color: rgb(85, 85, 85);
    line-height: 1.4;
}

.card-text a {
    color: #3a83f7;
    font-weight: bold;
    text-decoration: none;
}

.quote {
    background: #f2f2f2;
    padding: 32px;
}

.quote h2 {
    margin: 0 0 24px;
    font-size: 36px;
    font-weight: 700;
    color: #444;
}

.quote-body {
    margin: 0 0 24px;
    color: rgb(85, 85, 85);
    font-size: 18px;
    max-width: 800px;
}

.quote-author {
    color: #777;
    font-size: 16px;
    margin-top: 32px;
}



/*Third Section*/

.third-section {
    background: rgb(217, 217, 217);
}

.third-section h1 {
    text-align: center;
    color: #4a4a4a;
    padding-top: 32px;
    margin: 0;
}


.third-section-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    padding: 32px 72px;
}

.third-section-card{
    display: flex;
    background: white;
    padding: 16px;
    gap: 16px;
    align-items: center;
}

.third-section-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background: red;
}

.card-content .label {
    color: rgb(119, 119, 119);
}

.card-content p {
    font-size: 14px;
    line-height: 1.6;
    color: rgb(119, 119, 119);
}



/*Fourth Section*/

.fourth-section {
    background: white;
    padding: 32px 0;
    border: 2px solid rgb(217, 217, 217);
}

.fourth-section-content {
    display: flex;
    gap: 24px;
    padding-left: 24px;
}


.fourth-section h1 {
    text-align: center;
    color: #4a4a4a;
    padding-bottom: 32px;
    margin: 0;
}


.fourth-section-video {
    width: 60%;
}

.vid {
    width: 100%;
    height: auto;
}

.fourth-section-content .cards {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.fourth-section-content .card {
    display: flex;
    background: white;
    padding: 16px;
    gap: 16px;
    align-items: center;
}



/*Footer*/

footer .content {
    height: 96px;
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
    font-size: 12px;
    color: rgb(119, 119, 119)
}

footer .copyright {
    display: flex;
}

footer .details {
    display: flex;
    gap: 24px;
}



/*Mobile View*/

@media (max-width: 768px) {
    .page {
        border: none;
    }

    /*Mobile View Header*/

    .page-header {
        justify-content: space-around;
    }

    .logo-text {
        display: none;
    }

    .brand {
        display: none;
    }

    nav {
        width: 100%;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
        width: 100%;
    }

    nav li {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav li a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   .nav-icon {
       font-size: 0;
       width: 32px;
       height: 32px;
       display: block;
       background-repeat: no-repeat;
       background-position: center;
       background-size: 24px;
   }

   .nav-icon.logo {
       background-image: url("../images/ic-logo.svg");
   }
   .nav-icon.campus {
       background-image: url("../images/ic-on-campus.svg");
   }

   .nav-icon.online {
       background-image: url("../images/ic-online.svg");
   }

   .nav-icon.login {
       background-image: url("../images/ic-login.svg");
   }



    /*Mobile View First Section*/

   .first-section {
       flex-direction: column;
       padding: 0;
   }

   .first-section-text {
       width: 100%;
   }

   .first-section-image {
       width: 100%;
       padding-right: 0px;
   }

   .first-section-text {
       padding: 32px 16px;
       text-align: left;
   }
    
   .first-section-text h1 {
       font-size: 32px;
   }

   .first-section-text p {
       font-size: 16px;
   }

   .start-here-button {
       width: 100%;
       text-align: center;
       padding: 12px;
   }



   /*Mobile View Second Section*/

    .second-section {
        display: flex;
        padding: 16px;
        background: white;
    }

   .second-section-image{
       display: none;
   }

   .second-section .cards {
       width: 100%;
       display: flex;
       flex-direction: column;
       padding: 0;
   }

   .second-section .card {
       display: flex;
       flex-direction: column;
       background: white;
       align-items: center;
       padding: 0;
       border: 0;
   }

   .second-section .cardalt {
       display: flex;
       flex-direction: column;
       background: white;
       align-items: center;
       padding: 0;
       border: 0;
   }

   .card img {
       width: 100%;
       height: auto;
   }

    .cardalt img {
        width: 100%;
        height: auto;
    }

   .card-text {
       width: 100%;
       padding: 32px 16px 64px 16px;
   }

   .card-text h3 {
       margin: 0 0 8px;
       font-size: 20px;
       color: #444;
   }


   /*Mobile View Second Section*/



}